$c1: #FED646;
//===============================================================================//
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Medium.eot');src: local('Roboto Medium'), local('Roboto-Medium'),url('../fonts/roboto/hinted-Roboto-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Medium.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Medium.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Medium.ttf') format('truetype');font-weight: 500;font-style: normal;}
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Regular.eot');src: local('Roboto'), local('Roboto-Regular'),url('../fonts/roboto/hinted-Roboto-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Regular.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Regular.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Regular.ttf') format('truetype');font-weight: 400;font-style: normal;}
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Bold.eot');src: local('Roboto Bold'), local('Roboto-Bold'),url('../fonts/roboto/hinted-Roboto-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Bold.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Bold.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Bold.ttf') format('truetype');font-weight: 700;font-style: normal;}
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Light.eot');src: local('Roboto Light'), local('Roboto-Light'),url('../fonts/roboto/hinted-Roboto-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Light.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Light.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Light.ttf') format('truetype');font-weight: 300;font-style: normal;}
@font-face{font-family: 'Roboto';src: url('../fonts/roboto/hinted-Roboto-Black.eot');src: local('Roboto Black'), local('Roboto-Black'),url('../fonts/roboto/hinted-Roboto-Black.eot?#iefix') format('embedded-opentype'),url('../fonts/roboto/hinted-Roboto-Black.woff2') format('woff2'),url('../fonts/roboto/hinted-Roboto-Black.woff') format('woff'),url('../fonts/roboto/hinted-Roboto-Black.ttf') format('truetype');font-weight: 900;font-style: normal;}
//===============================================================================//
*{
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}
button{
  cursor: pointer;
}
//===============================================================================//
.wbt{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.wbtc{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.dibT{
  display: inline-block;
  vertical-align: top;
}
.dibM{
  display: inline-block;
  vertical-align: middle;
}
//===============================================================================//
.btn{
  &-o{
    border: none;
    background: none;
    cursor: pointer;
  }
}
//===============================================================================//
.l{
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 16px;
  color: white;
  &-wrap{
    width: 1110px;
    margin: 0 auto;
    position: relative;
  }
}
//===============================================================================//






.l-land{
  &-header{
    background: url(http://dummyimage.com/1920x570/696969/A7A7A7) 50% 0 no-repeat;
    background-size: cover;
    height: 570px;
    position: relative;
    &-top{
      padding: 20px 0 115px;
      &-logo{
        img{}
      }

      &-nav{
        a{
          color: white;
          text-decoration: none;
          font-size: 14px;
          margin: 0 0 0 20px;
          span{
            @extend .dibM;
            i{
              width: 20px;
              height: 3px;
              margin: 3px 0 3px 5px;
              background: #fff;
              display: block;
            }
          }
        }
      }
    }

    &-search{
      text-align: center;
      &-title{
        font-size: 32px;
        font-weight: 900;
        padding: 0 0 45px;
      }
      &-filter{
        padding: 0 0 18px;
        button{
          border-bottom: 3px solid transparent;
          color: white;
          font-size: 15px;
          font-weight: 700;
          margin: 0 30px 0;
          padding: 0 7px 4px;
          &.active{
            border-bottom: 3px solid $c1;
          }
        }
      }
      &-label{
        font-size: 0;
        display: block;
        input{
          @extend .dibT;
          margin: 0;
          border: 0;
          width: 58%;
          padding: 0 22px 0;
          height: 72px;
          font-size: 15px;
          border-radius: 3px 0 0 3px;
        }
        button{
          @extend .dibT;
          border: none;
          padding: 0 30px;
          font-size: 18px;
          font-weight: 700;
          color: #fff;
          height: 72px;
          background: $c1;
          border-radius: 0 3px 3px 0;
          img,span{
            @extend .dibM;
          }
        }
      }
    }

    &-bottom{
      position: absolute;
      left: 0;
      right: 0;
      bottom: -70px;
      text-align: center;
      width: 980px;
      margin: 0 auto;
      z-index: 1;
      &-item{
        @extend .dibT;
        width: 46%;
        background: #fff;
        padding: 25px 20px 25px 42px;
        font-size: 0;
        margin: 0 1%;
        border-radius: 3px;
        figure{
          @extend .dibM;
          width: 15%;
          background: white;
          img{}
        }

        &-tts{
          @extend .dibM;
          width: 85%;
          padding: 0 0 0 35px;
          text-align: left;
          h2{
            font-size: 20px;
            color: black;
            padding: 0 0 10px;
          }
          p{
            font-size: 14px;
            line-height: 16px;
            color: black;
          }
          a{
            color: #fed646;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            margin: 8px 0 0;
            display: inline-block;
          }
        }
      }
    }
  }

  &-content{
    padding: 173px 0 0;
    &-box{
      background: #FAFAFA;
      padding: 0 0 75px;
      border-bottom: 1px solid #E7E7E7;
      &-title{
        font-size: 32px;
        font-weight: 700;
        color: #000;
        width: 100%;
        padding: 0 0 35px;
        span,b{
          @extend .dibM;
        }
        span{
          background: white;
          padding: 0 20px 0 0;
          position: relative;
          z-index: 1;
        }
        b{
          background: $c1;
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          top: 18px;
        }
      }

      &-gallery{
        figure{
          position: relative;
          width: 100%;
          overflow: hidden;
          img{
            width: 100%;
            box-shadow: 0 0 40px -10px #171717;
            border-radius: 3px;
          }
          figcaption{
            position: absolute;
            left: 0;
            right: 0;
            top: 45%;
            text-align: center;
            font-size: 33px;
            font-weight: 400;
            text-transform: uppercase;
            &:after{
              content: '';
              position: absolute;
              margin: 0 auto;
              left: 0;
              right: 0;
              bottom: -10px;
              border-bottom: 3px solid #fed646;
              width: 40px;
            }
          }
        }

        .big{
          @extend .dibT;
          width: 31%;
          height: 350px;
          margin: 0 1% 0 0;
        }
        .small{
          @extend .dibT;
          width: 68%;
          height: 160px;
          font-size: 0;
          figure{
            @extend .dibT;
            width: 47%;
            margin: 0 0 20px 3%;
            figcaption{
              top: 40%;
            }
          }
        }
      }
    }

    &-box2{
      padding: 75px 0 85px;
      &-item{
        @extend .dibT;
        position: relative;
        width: 350px;
        overflow: hidden;
        border-radius: 3px;
        border: 1px solid #D8D8D8;
        margin: 20px 0 0;
        &-slide{
          position: relative;
          &-ava{
            position: absolute;
            left: 15px;
            top: 15px;
            border-radius: 50%;
            overflow: hidden;
          }
          &-img{
            width: 100%;
          }
        }

        &-ctrl{
          position: absolute;
          right: 10px;
          top: 200px;
          button{}
        }

        &-content{
          padding: 25px 15px 10px;
          h2{
            font-size: 18px;
            font-weight: 400;
            color: #000;
            margin: 0 0 8px;
            span{
              float: right;
              color: $c1;
              font-size: 30px;
            }
          }
          h3{
            color: #000;
            margin: 0 0 8px;
            font-size: 12px;
            font-weight: 100;
            span{
              float: right;
            }
          }
        }
      }
    }

    &-box3{
      background: url(http://dummyimage.com/1920x570/696969/A7A7A7) 50% 0 no-repeat;
      background-size: cover;
      height: 730px;
      text-align: center;
      padding: 80px 0 0;
      border-bottom: 1px solid white;
      &-title{
        font-size: 32px;
        color: #000;
        font-weight: 700;
        &-m{
          font-size: 19px;
          line-height: 19px;
          font-weight: 400;
          color: #000;
          padding: 38px 255px 95px;
        }
      }

      &-item{
        @extend .dibT;
        width: 50%;
        padding: 0 0 65px 5px;
        figure{
          @extend .dibM;
          width: 130px;
          height: 130px;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid;
          img{
            width: 100%;
          }
        }

        &-info{
          @extend .dibM;
          width: 73%;
          text-align: left;
          padding: 0 0 0 48px;
          h2{
            font-size: 20px;
            font-weight: 400;
            color: #000;
            margin: 0 0 20px;
          }
          p{
            font-size: 14px;
            line-height: 16px;
            font-weight: 100;
            color: #000;
          }
        }


        &:nth-child(3){
          width: 100%;
          .l-land-content-box3-item-info{
            width: 36%;
          }
        }
      }
    }
  }

  &-footer{
    background: #5A5757;
    padding: 68px 0 30px;
    &-logo{
      img{}
    }

    &-nav{
      width: 51%;
      font-size: 0;
      &-item{
        @extend .dibT;
        width: 33.33%;
        h2{
          font-weight: 400;
          color: white;
          font-size: 18px;
          margin: 0 0 20px;
        }
        a{
          @extend .dibT;
          width: 50%;
          margin: 0 0 10px;
          font-size: 14px;
          display: inline-block;
          color: #9b9b9b;
          text-decoration: none;
        }

        &.oneRow{
          width: 27.33%;
          margin: 0 0 0 6%;
          a{
            width: 100%;
          }
        }
      }
    }
  }
}